@font-face {
  font-family: 'Cairo';
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('./fonts/Cairo/Cairo-VariableFont_wght.ttf') format('woff');
}

:root {
  --main-black-color: #1F1A17;
  --main-green-color: #009F6B;
  --dark-green-color: #005439;
  --main-red-color: #DA251C;
  --main-white-color: #ffffff;
  --main-gray-color: #EFEFEF;
  --light-gray-color: #F6F6F6;
  --dark-gray-color: #A6A6A6;
  --secondary-color: #737373;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif !important;
  scroll-behavior: smooth !important;
}

body {
  font-family: 'Cairo', sans-serif !important;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--main-gray-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--main-green-color);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}