@import './base.css';

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    list-style-position: inside;
}

ol {
    list-style-position: inside;
}

button.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.loading img {
    display: none;
    width: 15px;
    height: 15px;
    margin-inline-start: 10px;
}

button.loading:disabled {
    background-color: #E2E6EA !important;
    color: #8D9BAD !important;
    cursor: wait;
}

button.loading:disabled img {
    display: inline-block;
}